<!DOCTYPE html>
html(lang="en")
    head
        script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-131554905-1')
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-131554905-1');
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title=title
        link(rel="stylesheet", href="/chi/css/main.css")
        if description
            meta(name='Description', content='description')
    body
        #bg(style=(colour ? "background-color:"+colour+";":"")+(bg ? `background-image: url(/chi/images/${bg})` : ""))
        #stripe
        header
            a(href='/chi')#logo
                img(src='/chi/images/handv2.svg', alt='byhemechi')
            if showtitle == undefined || showtitle
                h1#title=title
            if custom
                div#custom!=custom
        main
            !=body
        script(src="/chi/js/main.js")