@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Roboto');

:root {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html, body {
    margin: 0;
    width: 100%;
}

body {
    display: grid;
    background: #111;
    grid-template-rows: 100px 120px 300px auto;
    grid-template-columns: auto minmax(0, 750px) auto;
}


/* HEADER */

header {
    grid-row: 2;    
    grid-column: 2;
    background: #fff;
    padding-top: 35px;
}

#custom {
    display: inline-block;
    padding-top: 10px;
    vertical-align: top;
}

#custom h1 {
    margin: 15px 0;
    line-height: 1em;
    vertical-align: middle;
    display: inline-block;
}

#stripe, #logo {
    background: #00aac4;
}

#stripe {
    grid-row: 2;    
    grid-column: 1;
    margin-top: 35px;
}

#logo {
    display: inline-block;
    height: 100%;
    width: 120px;
    padding-left: 35px;
    margin-right: 35px;
    vertical-align: middle;
}

#logo img {
    height: 100%;
    margin: 0;
}

#bg {
    grid-row: 1 / span 3;
    grid-column: 1 / span 3;
    background-color: #222;
    background-position: top center;
    background-size: auto 520px;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* Content */
main {
    grid-row: 3 / span 2;
    background: #fff;
    grid-column: 2;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    padding: 35px;
}
.big {
    font-size: 1.5em;
}

.emoji {
    height: 1em;
    vertical-align: middle;
}

a:link, a:visited {
    text-decoration: none;
    color: #43f;
}

ul {
    padding: 0;
}

main :first-child {
    margin-top: 0;
}

h1 {
    font-family: 'Permanent Marker', sans-serif;
}